body{
	background-color:#FAFAFA;
}
.featured{
	width:1318px;
	height:269.06px;
	margin:53.8px 301px 59.1px 301px;
	position:relative;	
}
.featured span{
	position:absolute;
	top:50.2px;
	left:57.7px;
	color:#F0F0F0;
	text-transform: uppercase;
	font-size: 15px;
	font-family: Acumin Pro;
	font-weight:500;
	opacity:72%;
}	
.article-box::before{
	content: "Published Yesterday";
	display: inline-block;
	color:#F0F0F0;
	font-size:12px;
	font-family: Acumin Pro;
	margin-right:23px;
}
.article-box{
	position: absolute;
	top:44.2px;
	right:58px;
	display:inline-block;
}
.article-box>a{
	background-color: #FCFCFC;
	border-radius: 14px;
	text-align: center;
	color:#5E8A93;
	font-size:12px;
	font-family: Acumin Pro;
	font-weight: 600px;
	width:124px;
	height: 26px;
	text-transform: uppercase;
	padding:8px 20px;
	line-height: 16px;
}
.text-box{
	position: absolute;
	top:74px;
	left:57.7px;
}
.text-box h3{
	color:#F0F0F0;
	font-size:32px;
	font-family: Acumin Pro;
	font-weight: 500;
	line-height: 44px;
	margin-bottom:16.2px;
	margin-top:9px;
}
.text-box p{
	width: 1120.51px;
	height: 57.94px;
	color:#FCFCFC;
	font-size:15px;
	font-family: Acumin Pro;
	font-weight: 200;
	line-height: 21px;
	margin-bottom:10px;
}
.text-box a{
	width: 186px;
	height: 44px;
	color:#F0F0F0;
	font-size:17px;
	font-family: Acumin Pro;
	font-weight: 400;
	line-height: 29px;
	text-align: center;
	background-color: #6294A2;
	border-radius: 22px;
	padding:15px 34px;
}